<a href="https://colab.research.google.com/github/sonsu0404/colab/blob/main/Lession1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("내일은 즐거운 졸업여행")
print("준비물 잘 챙기자.")
print("다치지말고 재미있게 놀다 오자. :)")

내일은 즐거운 졸업여행
준비물 잘 챙기자.
다치지말고 재미있게 놀다 오자. :)

In [12]:
a= 100
b= 200
result =a+b
print(a, "+", b, "=", result)

100 + 200 = 300

In [4]:
num1= 100
num2= 200
result = num1 * num2
print(num1, "x", num2, "=", result)

100 x 200 = 20000

In [7]:
num1= 100
num2= 200
result = num1 % num2
print(num1, "%", num2, "=", result)

100 % 200 = 100

In [13]:
num1= 100
num2= 200
result = num1 + num2
print(num1, "+", num2, "=", result)

100 + 200 = 300

몫을 구하는 연산자://

In [8]:
num1= 100
num2= 200
result = num1 - num2
print(num1, "-", num2, "=", result)

100 - 200 = -100

In [10]:
num1= 100
num2= 20
result = num1 ** num2
print(num1, "**", num2, "=", result)

100 ** 20 = 10000000000000000000000000000000000000000

In [14]:
num1= 100
num2= 200
result = num1 / num2
print(num1, "/", num2, "=", result)

100 / 200 = 0.5